.parent{
    width: 200px;

    height: 200px;
    
    font-size: 20px;

    text-align: center;

    font-weight: bold;
    
    font-style: italic;

    /* none : 일반, underline:밑줄, line-through:취소선, overline: 윗줄 */
    text-decoration: underline;

    /* 테두리 설정
        - 2px: 테두리 굵기
        - solid:실선
        - blue: 색상
    */
    border:2px solid blue;
}

.child{
    /* 백분율(%) : 부모 요소의 크기와 비교
        - em : 루트 요소(HTML)의 폰트 크기와 비교[현재 폰트 12px -> 2em은 *2]
        - rem : 루트 요소(HTML)의 폰트 크기와 비교[html의 기본 폰트 크기는 16px -> 2rem음 *2]
        - vw : 웹페이지가 실제로 렌더링되는 크기를 의미(Viewport Width)[80vw -> 가로 길이 80% 만큼의 길이를 가지겠다.]
        - vh: 웹페이지가 실제로 렌더링되는 크기를 의미(Viewport height)[80vh -> 세로 길이 80% 만큼의 길이를 가지겠다.]
    */
    width: 2rem;
    height: 50%;
    font-size: 12px;
    background-color: darkgray;
    border: 2px solid black;
}

a{
    text-decoration: none;
    color:black;
}